body {
    background-image:  url(../img/fundo.png);
    font: 16px Arial, Helvetica, sans-serif;
}

#principal {
    width: 900px;
 
}

h2 {
    color: rgb(148, 148, 84);
    font-weight: bold;
    padding: 10px;
}


.menu {
    background: #c5c5b2;
    padding: 18px;
}

a{
   text-decoration: none;
   padding: 5px;
   color: #4b566a;
   font-weight: bold;
}

a:hover {
    color: white;
}

.sobre {
    background:#e8e8d9;
    width: 880px;
    padding: 10px;
    margin-top: 10px;
}

p {
   margin-left: 10px;
   margin-right: 5px;
}

.centralizar {
    text-align: center;
}

